.title {
	font-size: 30px;
	letter-spacing: 2%;
	margin: 2rem 0;
	display: block;
}

.scrollbar {
	overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: hsl(0 0% 50%);
	display: flex;
	flex-direction: column;
}

.container {
	margin: 0 4rem;
	width: 100%;
	overflow-y: scroll;
}
