.form {
	width: 25vw;
	min-height: 65vh;
	border-radius: 31px;
	padding: 5rem;
	display: flex;
	flex-direction: column;
	gap: 0;
	/* border: 2px solid;
	border-image-source: linear-gradient(
		44.08deg,
		#ffffff 12.92%,
		rgba(255, 255, 255, 0.5) 88.98%
	); */
	box-shadow: 4px 9px 50px -1px rgba(0, 0, 0, 0.4);
}

.entrance {
	margin: 0;
	font-size: 50px;
	font-weight: 600;
	line-height: 63px;
	letter-spacing: 0em;
	text-align: center;
	color: #00733a;
}
