.body {
	overflow: hidden;
}

.container {
	display: flex;
	justify-content: flex-end;
	flex-direction: row-reverse;

	min-height: 100vh;
}

.wrapper {
	min-width: 100%;
	min-height: 100vh;
	position: relative;
	top: 0;
	bottom: 100%;
	left: 0;
	z-index: 1;
	background-color: #ffffff;
}
