.workingField {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.scrollbar {
	padding: 40px 75px;
	display: flex;
	flex-direction: column;
	gap: 60px;
}

.container {
	padding: 40px 75px;
}

