.workingField {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.scrollbar {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: hsl(0 0% 50%);

    height: 80vh;
    padding: 40px 75px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}