.username{
    font-size: 18px;
    font-weight: 300;
    line-height: 22.82px;
    letter-spacing: 0.02em;
    text-align: left;

    margin-left: 14px;
}
.image {
    border-radius: 10px;
}
.profile {
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 20px;
    box-sizing: border-box;

    border: 1px solid #FFFFFF;
    border-right: 0px;
    height: 60px;
}