.tasksContainer {
    /* background-color: #F0F0F0; */

    max-height: 85vh;
    padding: 40px 75px 40px 75px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    gap: 1.622rem 
}