.user_card {
	width: 35rem;
	border: 1px solid black;
	padding: 1.5rem;
	border-radius: 1rem;
}

.user_card form {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.avatar_block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
